:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background: var(--violet) url("./img/bg-mobile.svg") no-repeat;
  background-size: contain;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2em;
}

.logo-wrapper {
  display: flex;
  min-width: 100%;
}

.logo {
  max-height: 55px;
  align-self: flex-start;
  margin-bottom: 30%;
}

.mockup {
  max-width: 100%;
}

.heading {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.75;
  margin-top: 2em;
}

.text {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  max-width: 40ch;
  margin-top: 1em;
}

.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  padding: 1em;
  border-radius: 25px;
  color: var(--violet);
  background-color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  min-width: 70%;
  cursor: pointer;
  margin-top: 2em;
}

.register:hover {
  color: white;
  background-color: var(--soft-magenta);
}

.social {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: 5em;
}

.icon {
  color: white;
  border: solid 1px white;
  border-radius: 110%;
  padding: 0.5em;
  width: 16px;
  height: 16px;
  margin: auto;
  cursor: pointer;
}

.icon:hover {
  color: var(--soft-magenta);
  border: solid 1px var(--soft-magenta);
}

@media screen and (min-width: 1000px) {
  .App {
    background-size: cover !important;
    background: var(--violet) url("./img/bg-desktop.svg") no-repeat;
  }

  .logo {
    margin-bottom: 10%;
  }

  .double-col {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .col-1 {
    min-width: 60%;
  }

  .col-2 {
    min-width: 40%;
    padding-left: 1em;
    padding-bottom: 5em;
    align-items: flex-start;
  }

  .text {
    text-align: left;
  }

  .heading {
    margin-top: 0;
    text-align: left;
  }

  .register {
    min-width: 50%;
  }

  .social {
    min-width: 100%;

    padding-left: 80%;
    padding-right: 5%;
  }
}
